<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6797d/control/0/plot" value="false" />
    <add key="/lpc/nct6797d/control/1/plot" value="false" />
    <add key="/lpc/nct6797d/control/2/plot" value="false" />
    <add key="/lpc/nct6797d/control/3/plot" value="false" />
    <add key="/lpc/nct6797d/control/4/plot" value="false" />
    <add key="/lpc/nct6797d/control/5/plot" value="false" />
    <add key="/lpc/nct6797d/control/6/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/temperature/7/plot" value="false" />
    <add key="/intelcpu/0/temperature/8/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/clock/7/plot" value="false" />
    <add key="/intelcpu/0/clock/8/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="542" />
    <add key="mainForm.Location.Y" value="76" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6797d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6797d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/0/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6797d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6797d/fan/1/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6798d/fan/1/plot" value="false" />
    <add key="/lpc/nct6798d/fan/0/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6798d/expanded" value="true" />
    <add key="/lpc/nct6798d/fan/5/plot" value="false" />
    <add key="/lpc/nct6798d/fan/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf+S9vaMDGDA4ijckMgEYR9x3HoyCcpe43j4IEx8jiMAcGovfTwAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf+S9vaMDGAQ4yjckMgEYfM5bT2ZBGULOB0+CBN/4wgAG/SQtzwAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf+S9vaMDFBQ/USVHcYGANCDkAUkAAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf+S9vaMDEDwlVvClTsykQnEZmw45bzlZBKYzaTw13nPQag4kA0AztWUzjwAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf+S9vaMDCAQEOzCHZnIBGYnzHPecjIJzGY8cMx5z0GoeMMsZwDmMrRhPAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf8eafaMDFAQ80SVHcYGAIZn2S4kAAAA" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf9vTtoxMoCBppPW8kQmCFveacmiJChbzun0C5i4rBMA8wqNTDwAAAA=" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/6LyDQyMoCBqdOzW4lMELaJk4JfCpQt73TkDkxcxungBRhb0mnOchhbwakvDKZe2ilHPQHOvvU0CcqWdYo7lgTXK6ME0yvn5B4H0yvhBAAD6RuSnAAAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/6LyDQyMoCBidOzW4lMELaGk4JfCpSt6HTkDkxc3ungBRhbzmnOchhb2akvLAWuJkc9Ac6+9TQJylZy6riYBNf7SQxhjkE7TK+sEwAIdvlEnAAAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/6LyDQyMoCBntOzW4lMELaCk4JfCpQt63TkDkxc3OngBRhbzGnO8kS4mr4wmHpJpxz1BChbwunW0yQoW8rJ9HIS3BxXUYQ5Bu0wvSJOALpBJMicAAAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/6LyDQyMoCBvtOzW4lMELayk4JfCpQt63TkDkxc0ungBQR7znIYW9GpLywFLp6jngBn33qaBDfn0RUYW8JpkzRMr5STWD1Mr4gTAG+3LBWcAAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/6LyDQyMoCBjtOzW4lMELaCk4JfCpQt43TkDkxc0ungBRhbwmnOchhb3qkvDKZe3ClHPQGu/tbTJChb2qnjWhJczVFphJmxtTC9Yk4Adp6SQJwAAAA=" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/6LyDQyMoCBptOzW4lMELask4JfCpQt5bSfNQnKFne6vz4Rzm6eD2NLO/WFwdSLOeWoJ8DZEvzJcHO+rIOZI+p0SxqmV8JpXjVMr7ATAGod8tmcAAAA" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/6LyDQyMoCBttOzW4lMELaKk4JfCpQt77SfNQnKlnXasDERzt40F8ZWcOoLS4GL56gnwMUl+JOhbDmnxRsQ5tyXRpjzqhKmV9IJALsORYycAAAA" />
    <add key="/intelcpu/0/temperature/7/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/6LyDQyMoCBqdOzW4lMELayk4JfCpSt7rSfNQnKlnRq3QxTI+F0dzaMreikWAtTL+X0wjoBzua8AtMr7bR4A4J9XxqmV87pVSVMr5gTAERIbW2cAAAA" />
    <add key="/intelcpu/0/temperature/8/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/6LyDQyMoCBndNW0SQmCNvEKVA4BcrWctqrAxNXdIrrS4SyZZ3YZsHYak5CTTD18k7fzRKgbGUn5r8wvUpOK9thbAWn+9IwvapOryphemWcAAzz/jGcAAAA" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/intelcpu/0/load/14/plot" value="false" />
    <add key="/intelcpu/0/load/13/plot" value="false" />
    <add key="/intelcpu/0/load/12/plot" value="false" />
    <add key="/intelcpu/0/load/11/plot" value="false" />
    <add key="/intelcpu/0/load/10/plot" value="false" />
    <add key="/intelcpu/0/load/9/plot" value="false" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/7z75/MyAAEu3YsdtSbksAEYsfv6HCcGJIKZi8LD3D044OIf2cIcKwMSwKzuz7YOtZdigezl1xpcBSZnAZmX1GMdCzbAlFf7mjmWP41GcxOmj3DMe8WRG+Pq5Wj232ImstLPRx/RCWC2WbbbRwBWYHbT5wAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAFvhNN9t4rS7HgwMB/5zzJjMyAAE57ZMcNSbksAEYs+XSHacGJIKZrvlv3Dw44OI3/lwyqEyLAnMnrljmUPdpXgwO3WxmKPI5DQw+9LuOw5lWyDqy79Mdyj/mgxmRwi7OebdguhNmDLfwe0+RM2R7XscfkQlgtkm5UscAPUsnk2cAAAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAFvhNN9t4rS7HgwMB/5zzJjMyAAFGwstpGBsAPM/OFQkAAAA" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAFvhNN9t4rS7HgwMB/5zzJjMyAAEZbq/7fWmJDCB2ClXGBxYm1PBbEv++/a37seD2Spr7tlXhiWB2T6FD+zrLkHEY9d9theZnAZmtyc+tS/bAjGn0O+qffnXZIiauK/2ebcgegOK79i73Yeo2ZFyxf5HVCKYLbf1rj0A4Zisv5wAAAA=" />
    <add key="/lpc/nct6797d/voltage/0/values" value="H4sIAAAAAAAEADP+F+02cdpdDwaGA/9Di2OYGIAg93m1/cqviWD2ZAkX+8nSKWC2ibGx/ZKTSWD2jcUG9r0hEPbhrxr2D+oSwGw7rnB7h/JkMHvSWxt7Ni2IORMOmdqbCEPUt70OtP84HcLOnKhrb/0Bwt5ywsz+61SI3jp7U3sAW//dHZwAAAA=" />
    <add key="/lpc/nct6797d/voltage/1/values" value="H4sIAAAAAAAEADP+F+02cdpdDwaGA/9Di2OYGIBAla3R/kWDtRSMDQDtBPH7JAAAAA==" />
    <add key="/lpc/nct6797d/voltage/2/values" value="H4sIAAAAAAAEADP+F+02cdpdDwaGA/9Di2OYGIAgWSDC4UWDtRSMDQAYaLhBJAAAAA==" />
    <add key="/lpc/nct6797d/voltage/3/values" value="H4sIAAAAAAAEADP+F+02cdpdDwaGA/9Di2OYGIDA42GUw8qviWD2JaVoh1eRfnwwtolwElzNx+lJcDUGbcdYYGwAdohLZVQAAAA=" />
    <add key="/lpc/nct6797d/voltage/4/values" value="H4sIAAAAAAAEADP+F+02cdpdDwaGA/9Di2OYGIAgX6jZfuXXRDh7snQKmN00tdl+yckkMPtncLN9b0gSXM2DugQw+wdQ3KE8Ga6GTQthjokwQv3H6UlwM60/IMS/Tk2GswE+RF7anAAAAA==" />
    <add key="/lpc/nct6797d/voltage/5/values" value="H4sIAAAAAAAEADP+F+02cdpdDwaGA/9Di2OYGIBgb4mw3YsGaykYGwAoQCpeJAAAAA==" />
    <add key="/lpc/nct6797d/voltage/6/values" value="H4sIAAAAAAAEADP+F+02cdpdDwaGA/9Di2OYGIDAxHiz/cqviWD2zLxN9pOlU8DsV2ob7Q3ljrLA2A/qEsDiRRkb7R3Kk+FqoqPfcMPYABE6qkBgAAAA" />
    <add key="/lpc/nct6797d/voltage/7/values" value="H4sIAAAAAAAEADP+F+02cdpdDwaGA/9Di2OYGIAgWSDC4cEtDXYYuzckCSx+61y4w4O6BLia2Zf8+WBsAFsotXZIAAAA" />
    <add key="/lpc/nct6797d/voltage/8/values" value="" />
    <add key="/lpc/nct6797d/voltage/9/values" value="H4sIAAAAAAAEADP+F+02cdpdDwaGA/9Di2OYGIBA3bDD/kWDtRSMDQDS8E7fJAAAAA==" />
    <add key="/lpc/nct6797d/voltage/10/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDECwQGq9/YNbGuwwdm9IElhc/OY6+wd1CXA1DuXJYHbf9HX2bFqJcDUmwklwNR+nI9jWHxDmfJ2K0AsA86e7GIQAAAA=" />
    <add key="/lpc/nct6797d/voltage/11/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDEDwYbmb/YNbGuwwdm9IEljcaouHfZRxOyeM/XE6RDx+l6e99QcIu+WAl/3XqclwNgADZGooYAAAAA==" />
    <add key="/lpc/nct6797d/voltage/12/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDEDApN1u/6LBWgrGBgAx3HyGJAAAAA==" />
    <add key="/lpc/nct6797d/voltage/13/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDECwQErffuXXRDC7b7qe/WTpFDC7WkTPfsnJJLh4b0gSXPxBXQJcr0N5MlycTQtiTi9QvYlwElzNx+kIvdYfEGZ+nYrQCwAsWulcnAAAAA==" />
    <add key="/lpc/nct6797d/voltage/14/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDEDwYfkx+5VfE8FsJu3j9pOlU8Ds7pzj9ktOJoHZouuO2/eGJMHFH9QlwNkO5clwNWxaiXBxE2GE+o/TEeZYf4CwK18es/86NRluLwAzBAgknAAAAA==" />
    <add key="/lpc/nct6797d/temperature/0/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDCDQoOu08msihM2g6TRZOgXKVnBacjIJqkbeqTcExpZ1elCXAFWj7uRQngxlyzuxacHMkXMyEYaqZ1Bz+jgdxpZ1sv6AMPPr1GS4OADDopgznAAAAA==" />
    <add key="/lpc/nct6797d/temperature/1/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDCDQoOG08msihM2g4TRZOgXKVndacjIJqkbVqTcEymZQcXpQlwAVV3ZyKE+Giis7sWnBzFFyUl19hAXGtv4A06vg9HVqMpwNAI6oHYeQAAAA" />
    <add key="/lpc/nct6797d/temperature/2/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDGCg6LTyayKUrew0WToFylZyWnIyCa6mNyQJLq6moMoOY5sIJ8H1fpyOUG/9AcH+OjUZylZwAgC00sychAAAAA==" />
    <add key="/lpc/nct6797d/temperature/3/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDGCwwGHl10Qoe4PDZOkUKPuAw5r8UlEYGwCKvX5/PAAAAA==" />
    <add key="/lpc/nct6797d/temperature/4/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDGDwwOFFg7UUjA0ALR1uVyQAAAA=" />
    <add key="/lpc/nct6797d/temperature/5/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDGAg4XQ8SUgYxv44PQkqLuZk/QHGFnH6OjUZzgYAbPPhDEgAAAA=" />
    <add key="/lpc/nct6797d/temperature/6/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDGDQcOBFg7UUjA0AlF+c8yQAAAA=" />
    <add key="/lpc/nct6797d/fan/0/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDFDwosFaCsYGADFe780kAAAA" />
    <add key="/lpc/nct6797d/fan/1/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDEDAOFPZZeXXRDC7Wl7ZZbJ0Cpi9313ZZcnJJDB7ziZll94QCHtSlbLLg7oEMLv5i7KLQ3kymB2wXdmFTQtiTruxsouJMER9eYuyy8fpEPZtINv6A4T9qUvF5etUiF41oDgAcJdzCZwAAAA=" />
    <add key="/lpc/nct6797d/fan/2/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDFDwosFaCsYGADFe780kAAAA" />
    <add key="/lpc/nct6797d/fan/3/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDFDwosFaCsYGADFe780kAAAA" />
    <add key="/lpc/nct6797d/fan/4/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDFDwosFaCsYGADFe780kAAAA" />
    <add key="/lpc/nct6797d/fan/5/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDFDwosFaCsYGADFe780kAAAA" />
    <add key="/lpc/nct6797d/fan/6/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDFDwosFaCsYGADFe780kAAAA" />
    <add key="/lpc/nct6797d/control/0/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDGBwwulFg7UUjA0ADgFceiQAAAA=" />
    <add key="/lpc/nct6797d/control/1/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDEBgZLTKceXXRDBbV7fXcbJ0Cpj951eV45KTSWB2Xl6eY28IhK2hkeH4oC4BzD5yuNnRoTwZroZNKxGuxkQYoj40tNXx43SEXusPEPajh4mOX6dC9M6ZHe0IABvv8rqcAAAA" />
    <add key="/lpc/nct6797d/control/2/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDEAwfVqa04sGaykYGwCV32F5JAAAAA==" />
    <add key="/lpc/nct6797d/control/3/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDEAwfVqa04sGaykYGwCV32F5JAAAAA==" />
    <add key="/lpc/nct6797d/control/4/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDEAwfVqa04sGaykYGwCV32F5JAAAAA==" />
    <add key="/lpc/nct6797d/control/5/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDEBgbu7u9KLBWgrGBgDO/j8EJAAAAA==" />
    <add key="/lpc/nct6797d/control/6/values" value="H4sIAAAAAAAEACsLjHGbOO2uBwPDgf9CCjFMDEAwfVqa04sGaykYGwCV32F5JAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/nct6798d/control/0/plot" value="false" />
    <add key="/lpc/nct6798d/control/1/plot" value="false" />
    <add key="/lpc/nct6798d/control/2/plot" value="false" />
    <add key="/lpc/nct6798d/control/3/plot" value="false" />
    <add key="/lpc/nct6798d/control/4/plot" value="false" />
    <add key="/lpc/nct6798d/control/5/plot" value="false" />
    <add key="/lpc/nct6798d/control/6/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf+S9vaMDFDQza3GDmMDAKaB5x4kAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf+S9vaMDGDQYCfckMgEZdtvPZkEZTvYHz6YCGcDABrh/JM8AAAA" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf8eafaMDEDwT63V6UlEIhOI/f9/i9PWk0lgNo9Iq9PhgxDxs19anACvDwziPAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf8eafaMDEDwI6LB9UlEIhOIfWNxg+vWk0lgdkRtg+vhgxDxiJ0NrgBlRKT6PAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf8eafaMDEDAsfy/65OIRCYQWyPmv+vWk0lg9oqm/66HD0LEV7j9dwUAf8CK8DwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf8eafaMDGDg4BbzRJUdxgYAoXXOHSQAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAKsTjzycPveeBwPDgf8eafaMDFAQ80SVHcYGAIZn2S4kAAAA" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAGu8Fn04fe49DwaGA/9dl9swMgDB17/KTk8iEplA7GnOMxy3nkwCsxe1znA8fBAibtE50xEAPQdvjDwAAAA=" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAGu8Fn04fe49DwaGA/8vH3VgZACChoViTirLE5nA7OXqTu0hSRD2fAGnB3EQ9oE/zE4AxZq8tjwAAAA=" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAGu8Fn04fe49DwaGA/9Nz7syMoBAfqTjwfpEJjB7uoxjd0gShF3o4PjfGsqeIuIIALrORDU8AAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAFuTFXg4fe49DwaGA/8vs95nZACCKB5np+XNiUwg9hJZZ6ddd5LA7JQeZ6fvtyDiDqHOTgBqb6GSPAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAFuTFXg4fe49DwaGA/8vs95nZACCog3ljsubE5lA7Ixj5Y677iSB2TzBFY7fb0HE2XgrHAEKa/BfPAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAFuTFXg4fe49DwaGA/8vs95nZACC/4pNjsubE5lAbBbxJsddd5LA7E0XGh2/34KIb/3c6AgAIf63LDwAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAGu28jmcPveeBwPDgf/Pl3kzMgCBx81NjlrLE5lAbLtPMY591UkQdrqL40N+CHvnHCtHAC7fpRs8AAAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAGu28jmcPveeBwPDgf/Pl3kzMgDBg1V/HbWWJzKB2KI3Ox37qpPA7Em/Whwf8kPYLjxdjgDNdYB6PAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAGu28jmcPveeBwPDgf/Pl3kzMgCBftEtR63liUwgdsTbAse+6iQw+35ss+NDfghba3a3IwCNGrWRPAAAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAGu28jmcPveeBwPDgf/Pl3kzMgBBe/crR63liUwg9r2Nsxz7qpPAbKFPKY4P+SHsBde9HQEqz7X3PAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAGu28jmcPveeBwPDgf/Pl3kzMgCBztwjjlrLE5lA7I2b+x37qpPA7O1W6Y4P+SHs0NIORwCNE1TpPAAAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAGu28jmcPveeBwPDgf/Pl3kzMgCB/PpJjlrLE5lA7JSLKxz7qpPA7HWr+x0f8kPY1ZNmOgIAsKWXbTwAAAA=" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAGu28jmcPveeBwPDgf/Pl3kzMgDB9H83HLWWJzKB2Kcizzn2VSeB2Ytlljg+5Iew2xZudwQA/36CpTwAAAA=" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAGu28jmcPveeBwPDgf/Pl3kzMgDB79UHHbWWJzKB2JvUWRz7qpPA7KZVPxwe8kPYU66tcwAAhSe/rjwAAAA=" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAGu28jmcPveeBwPDgf/Pl3kzMgCBxXs9R63liUwg9q2Nex36qpPA7L234x0e8kPY17LFHAD/+zpyPAAAAA==" />
    <add key="/intelcpu/0/load/9/values" value="H4sIAAAAAAAEAMt6OP1I+tx7Hu9keBy1licyMQBBpeQSh77qJDB73203h4f8EHbOxV/2AALjEXwwAAAA" />
    <add key="/intelcpu/0/load/10/values" value="H4sIAAAAAAAEAMt6OP1I+tx7HvOfKzpqLU9kYgACfaYah77qJDA7Ps/Z/iE/hB05bbo9APpcBoMwAAAA" />
    <add key="/intelcpu/0/load/11/values" value="H4sIAAAAAAAEAMt6OP1I+tx7HhbrNRy1licyMQDBY2Nxh77qJDD7yUpRh4f8EHYDj4c9AH5cf7cwAAAA" />
    <add key="/intelcpu/0/load/12/values" value="H4sIAAAAAAAEAMt6OP1I+tx7Hp9yuZ20licyMQCB26u3Dn3VSWC2kyaL40N+CNvvzRE7AD3ObiwwAAAA" />
    <add key="/intelcpu/0/load/13/values" value="H4sIAAAAAAAEAMt6OP1I+tx7Hkz6PY5ayxOZGIBAofmtQ191EpidOV/M8SE/hC00d5oDAMoOh5owAAAA" />
    <add key="/intelcpu/0/load/14/values" value="H4sIAAAAAAAEAMt6OP1I+tx7Hvqi4Y5ayxOZGIBgWqq+Q191Eph95piM40N+CDuB08MBAKK8PVYwAAAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/7z75/MyAAEbxlOOOlNSWACsTmB7IkhqWA2B5DtxwcRZweyK8OSwGwuILvuUjxcvcjkNDCbDcgu24Iwp/xrMtycvFsIvW73E+DiP6IS4exnPE8TrrGBnHTgPwAJIF4zqAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/5bmTYzMgBBUGKW667viUwgNp9CiuvW/ylgNucDF1funwlgNtsHdtf2jxA1bBdYXD03Q9jcBW6usuwQ9RwMJ1xuF0LUcwRoucrsTQKzuRbsc/laCGFzAM05PAuil0vB2/WpbDLEzIZOl0KhLwnX2EBOOvAfABl/aDOoAAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/5/7W1lZACCoMQs16dCSUwgNp9CiuvRlylgNscBDde5golgNveBzy4dN6DshrcuG9bFg9lcArauZiJpYDb7gn0uzD4JELYBn6vxV4iZLAt4XKdEQNj8QHOS+iDmcDRYu4rLJIPZPAwnXHYe/JhwjQ3kpAP/AeDfqFioAAAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/5XPmtnZAACDcZE141VCUwgNp9CiuuSBWlgNtsHdtdM9kQwm6Nht8vJY1D2BTNXxdXxYDZXgoWrmyBUvQKD6/5YiDk8DL9cpoUnQ8QFVFwzDZIg4gv2uUj5Q8xhT5B3vcCcDFV/wmV6xfuEa2wgJx34DwAg47CDqAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/57e3UxMgBBUGKW6/SiBCYQm1cgzHXiojQwm4vhoYsOSyKYzXag30XwBoTNIaDiuvlbPFSNvmvJ8xQIu+Gty0wZiBpOhdMuPenJEL0MYq47VZOgaha5+GRBzVzA45r+ByrusNXFTvhtwjU2kJMO/AcABw3TiqgAAAA=" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/7/mt7DyAAEGoExrr8nJTCB2DwL7Fyjp6SB2RwPjrhcfAAR53RId9F/mwhms39gd13oCBOXcd27LQXCPnDL5bIQRA0Hw3qX4LxkMJv1wWqXBIMkiHhCm8uiCIgaNgUG13/JEDYnUM0lzzcJ19hATjrwHwDOXLrbqAAAAA==" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/7v/9vHyAAEQoJhrl2TEphAbL4DUa66zWlgNnvCfJcLPyDi7AweLusfJ4LZXAqnXZgD4sBsjgnirkUToOodtrrYG0HUsCvMdHmUnAxmszrMcVEVTgKzeRpCXP7NgajhZHjostkaqv5Av4vr65cJ19hATjrwHwDA0rx4qAAAAA==" />
    <add key="/intelcpu/0/clock/7/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/5zZUxkZAACIcEw130VCUwgNs8CO1eOmlQwm5Mh0YWFOwnMZmfwcDF/mQhhP5jkklAXB2ZzJVi4ygWlgdlsCjNdUq0hargbcl3mZieD2RwTDFxP3oGYwwU0J/sYxC7OAwddKkIg6rkc0l3ya58nXGMDOenAfwCxVZuwqAAAAA==" />
    <add key="/intelcpu/0/clock/8/values" value="H4sIAAAAAAAEAFsoPd9t4rS7HgwMB/7z75/MyAAEeoExrnpTEphAbK4Lsq4TQ1LBbI6GEBc/Pog4O4OHS2VYEpjNptDgUncpHqJ+g7GryOQ0iPiDby5lW6DmHIhyKf+aDDFHQMU17xZELxfQHLf7UDMXLHX5EZUIUQMUf8bzNOEaG8hJB/4DAFMq9FOoAAAA" />
    <add key="/intelcpu/0/clock/9/values" value="" />
    <add key="/intelcpu/0/clock/10/values" value="" />
    <add key="/intelcpu/0/clock/11/values" value="" />
    <add key="/intelcpu/0/clock/12/values" value="" />
    <add key="/intelcpu/0/clock/13/values" value="" />
    <add key="/intelcpu/0/clock/14/values" value="" />
    <add key="/lpc/nct6798d/voltage/0/values" value="H4sIAAAAAAAEAKsvMDiaPveex/nvk+2XxCQyMQCB27bJ9nuZk8HsML5e+++3IOLyrd32ANqzJ/8wAAAA" />
    <add key="/lpc/nct6798d/voltage/1/values" value="H4sIAAAAAAAEAKsvMDiaPveeR+7zavsIazV2BiAAsQHaLkhJGAAAAA==" />
    <add key="/lpc/nct6798d/voltage/2/values" value="H4sIAAAAAAAEAKsvMDiaPveehx1XuMOSmEQmBiAAsfcyJ4PZJ7zDHb7fQogDAFMqoAswAAAA" />
    <add key="/lpc/nct6798d/voltage/3/values" value="H4sIAAAAAAAEAKsvMDiaPveeR7JAhEOEtRo7AxCA2ABkANa4GAAAAA==" />
    <add key="/lpc/nct6798d/voltage/4/values" value="H4sIAAAAAAAEAKsvMDiaPveex7MLTfZLYhKZGIAgX6jZfsu9IywwNgB3uJ16JAAAAA==" />
    <add key="/lpc/nct6798d/voltage/5/values" value="H4sIAAAAAAAEAKsvMDiaPveehyobo0OEtRo7AxCA2AAk3lHnGAAAAA==" />
    <add key="/lpc/nct6798d/voltage/6/values" value="H4sIAAAAAAAEAKsvMDiaPveeh1mclX2EtRo7AxCA2AD5rs/MGAAAAA==" />
    <add key="/lpc/nct6798d/voltage/7/values" value="H4sIAAAAAAAEAKsvMDiaPveehx1XuEOEtRo7AxCA2ADgMXKjGAAAAA==" />
    <add key="/lpc/nct6798d/voltage/8/values" value="" />
    <add key="/lpc/nct6798d/voltage/9/values" value="H4sIAAAAAAAEAKsvMDiaPveeB5M2u32EtRo7AxCA2ACmeoqHGAAAAA==" />
    <add key="/lpc/nct6798d/voltage/10/values" value="H4sIAAAAAAAEAKsvMDiaPveehxGHjn2EtRo7AxCA2ADm1SbRGAAAAA==" />
    <add key="/lpc/nct6798d/voltage/11/values" value="H4sIAAAAAAAEAKsvMDiaPveehx1XuH2EtRo7AxCA2AD89Ez+GAAAAA==" />
    <add key="/lpc/nct6798d/voltage/12/values" value="H4sIAAAAAAAEAKsvMDiaPveeB5N2u32EtRo7AxCA2AAPDXo/GAAAAA==" />
    <add key="/lpc/nct6798d/voltage/13/values" value="H4sIAAAAAAAEAKsvMDiaPveeR3RKtf2SmEQmBiDIfV5tv+XeERYYGwB6TdL4JAAAAA==" />
    <add key="/lpc/nct6798d/voltage/14/values" value="H4sIAAAAAAAEAKsvMDiaPveehxdPk32EtRo7AxCA2ACh76XrGAAAAA==" />
    <add key="/lpc/nct6798d/temperature/0/values" value="" />
    <add key="/lpc/nct6798d/temperature/1/values" value="H4sIAAAAAAAEAKsvMDiaPveeBwODiNOSmEQmBhBoEHHay5wMYTOIOn2/lQhnAwBAdpisMAAAAA==" />
    <add key="/lpc/nct6798d/temperature/2/values" value="H4sIAAAAAAAEAKsvMDiaPveeBwMDh1OEtRo7AxhwOAEAbR9qyhgAAAA=" />
    <add key="/lpc/nct6798d/temperature/3/values" value="H4sIAAAAAAAEAKsvMDiaPveeBwODilOEtRo7AxioOAEANp3KFBgAAAA=" />
    <add key="/lpc/nct6798d/temperature/4/values" value="H4sIAAAAAAAEAKsvMDiaPveeBwMDg2OEtRo7AwQ4AgAntikVGAAAAA==" />
    <add key="/lpc/nct6798d/temperature/5/values" value="H4sIAAAAAAAEAKsvMDiaPveeBwODx8ElMYlMDGAQcHDLvSMsMDYABDC1HCQAAAA=" />
    <add key="/lpc/nct6798d/temperature/6/values" value="H4sIAAAAAAAEAKsvMDiaPveeBwPDCccIazV2BjA44QgARO2Z5xgAAAA=" />
    <add key="/lpc/nct6798d/fan/0/values" value="H4sIAAAAAAAEAKsvMDiaPveeh9ETF5clMYlMDEBwU9bVZS9zMph9QczV5fstiPgCHjcXAOc/510wAAAA" />
    <add key="/lpc/nct6798d/fan/1/values" value="H4sIAAAAAAAEAKsvMDiaPveex4Y7fS5LYhKZGIAgbW+ny17mZDC7vafN5fstiPjV8HYXAKFotwMwAAAA" />
    <add key="/lpc/nct6798d/fan/2/values" value="H4sIAAAAAAAEAKsvMDiaPveeh/GxKJflzYlMDECwaWu0y647SWD2Nc1ol++3IOKOs6JcACKp+LkwAAAA" />
    <add key="/lpc/nct6798d/fan/3/values" value="H4sIAAAAAAAEAKsvMDiaPveeBwMQRFirsTNAAQAPj+l0GAAAAA==" />
    <add key="/lpc/nct6798d/fan/4/values" value="H4sIAAAAAAAEAKsvMDiaPveeBwMQRFirsTNAAQAPj+l0GAAAAA==" />
    <add key="/lpc/nct6798d/fan/5/values" value="H4sIAAAAAAAEAKsvMDiaPveex4t6edflzYlMDEDQkCPvuutOEpjN4ybv+v0WQhwALly9xzAAAAA=" />
    <add key="/lpc/nct6798d/fan/6/values" value="H4sIAAAAAAAEAKsvMDiaPveeBwMQRFirsTNAAQAPj+l0GAAAAA==" />
    <add key="/lpc/nct6798d/control/0/values" value="H4sIAAAAAAAEAKsvMDiaPveeh5Mjp9Py5kQmBiDg4uJy2nUnCcyWk2Nz+n4LIh4ayuoEAG5eubUwAAAA" />
    <add key="/lpc/nct6798d/control/1/values" value="H4sIAAAAAAAEAKsvMDiaPveeR2oKj9Py5kQmBiBwcuR02nUnCcyWk2Nz+n4LIl5ZweEEADl4X00wAAAA" />
    <add key="/lpc/nct6798d/control/2/values" value="H4sIAAAAAAAEAKsvMDiaPveeBwNDgVOEtRo7AxgUOAEA4EG69BgAAAA=" />
    <add key="/lpc/nct6798d/control/3/values" value="H4sIAAAAAAAEAKsvMDiaPveeR0BAm9Py5kQmBiBoampz2nUnCcxub291+n4LIh4a2uoEAEQwWswwAAAA" />
    <add key="/lpc/nct6798d/control/4/values" value="H4sIAAAAAAAEAKsvMDiaPveeBwNDgVOEtRo7AxgUOAEA4EG69BgAAAA=" />
    <add key="/lpc/nct6798d/control/5/values" value="H4sIAAAAAAAEAKsvMDiaPveex4b1S52WNycyMQABiL3rThKYXVe71On7rUQ4GwCFxV0RMAAAAA==" />
    <add key="/lpc/nct6798d/control/6/values" value="H4sIAAAAAAAEAKsvMDiaPveeBwNDgVOEtRo7AxgUOAEA4EG69BgAAAA=" />
  </appSettings>
</configuration>